body {
    text-align: center;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    background-color:whitesmoke;
}

div {
    border: 0px solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

button {
    border: 1px solid black;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

#Registerbutton {
    font-size: 9px;
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: #333;
    color: white;
}

#Registerbutton:hover {
    background-color: blue;
}

#nav_bar {
    width: 70%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
}

#formRegistro {
    width: 100px;
    height: 2000px;
    margin: auto auto;
    position: relative;
    top: 40px;
    z-index: 0;
}

#formRegistro input{
    border: 2px solid green;
}

#formRegistro label{
    font-size: medium;
  }
  
  ::placeholder{
    color: #555;
  }

#contentRegisterButton {
    margin-top: 4%;
}

.contetConfigurationsButtonClass {
    display: none;
    justify-content: center;
}

.contetConfigurationsButtonClass button {
    margin-left: 0.1%;
    margin-right: 0.1%;
    border: 1px solid black;
    border-radius: 5px;
    display: block
}

.contetConfigurationsButtonClass button:hover {
    animation: 5s bgrandom infinite;
}

@keyframes bgrandom {
    0% {
        background-color: darkblue;
    }
    10% {
        background-color: darkcyan;
    }
    20% {
        background-color: darkgoldenrod;
    }
    30% {
        background-color: darkgray;
    }
    40% {
        background-color: darkgreen;
    }
    50% {
        background-color: darkmagenta;
    }
    60% {
        background-color: darkred;
    }
    70% {
        background-color: darkturquoise;
    }
    80% {
        background-color: darkorange;
    }
    90% {
        background-color: darkolivegreen;
    }
    100% {
        background-color: darkslateblue;
    }
}

.Configuracion:hover .contetConfigurationsButtonClass{
    display: block;
  }
  
  .Configuracion{
    float: right;
  }

  .Botones{
    display: block;
    height: 30px;
    text-align: center;
    border: none;
    background-color: #333;
    color: white;
  }
  
  .Botones:hover{
    background-color: blue;
  }